*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
 }
 .section1{
     width: 100%;
     min-height: 100svh;
     display: flex;
     flex-direction: column;
     background-image: url("sea.JPG.png");
     background-repeat: no-repeat;
     background-size: cover;
     color: white;
     gap: 20px;
 }
 nav{
    /* background-color: #39579d; */
    max-width: 100%;
    height: 25svh;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    justify-content: center;
}
.nav_div1{
    max-width: 100%;
    max-height: 75svh;
    display: flex;
    align-items: center;
    padding: 30px;
    margin-top: 30px;
}

.nav_div1_1{
    max-width: 13%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
nav img{
    width: 70px;
    height: 50px;
}
.nav_div1_2{
    width: 87%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25%;
}
.nav_div2{
    background-color: #2c4379;
    width: 100%;
    height: 25svh;
    display: flex;
    padding-left: 50px;
}
.nav_div1 h1{
    font-size: 35px;
    font-weight: 600;
}
.nav_div1 h2{
    font-size: 15px;
    font-weight: 800; 
    /* padding-left: 60px; */
}
ul{
    width: 30%;
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown {
    float: left;
    overflow: hidden;
  }
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
.content{
    width: 85%;
    height: 100svh;
    display: flex;
    margin: 0 auto;
    margin-top: 70px;
}
.content_div1{
    width: 100%;
    height: 80svh;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    /* background-color: #4472c4; */
    gap: 15px;
}
.content_div1 h1{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}
.content_div1 h2{
    font-size: 15px;
    font-weight: 500;
}
/* .content_div2{
    width: 30%;
    height: 80svh;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
} */


form{
    padding: 50px;
}

form input{
    padding: 14px;
    border-radius: 7px;
    border: 1px solid;
}

form .form-group{
    margin-top: 30px;
}



   footer{
    width: 100%;
    height: 15svh;
    background-color: #2c4379;
    display: flex;
    flex-direction: column;
    padding-left: 50px;

}
.footer_div1{
    width: 100%;
    height: 4svh;
    display: flex;
    gap: 5px;
}
.footer_div2{
    width: 100%;
    height: 4svh;
    display: flex; 
}
.footer_div1 h1{
    font-size: 15px;
    font-weight: 400;
}
.footer_div2 p{
    font-size: 15px;
    font-weight: 400;
}

@media only screen and (max-width: 800px){
    .section1{
      display: flex;
      flex-direction: column;
      /* background-image: url("sea.JPG.png");
      background-size: cover; */
  }
     ul{
        width: 100%;
        display: flex;
     }

     .nav_div1{
        margin-top: 70px;
        height: 100vh !important;
     }

     .content{
        margin-top: 100px !important;
     }

     footer{
        margin-top: 250px !important;
     }
    
  }      